.banner {
  height: calc(100vh - 80px);
  background-image: url("../images/home-header.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include ipad {
    background-image: url("../images/home-header-sm.png");
    height: 787px;
  }

  @include phone {
    height: 396px;
  }

  &-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: $secondary;

    h1 {
      font-size: 36px;

      @include pad {
        font-size: 28px;
      }

      @include phone {
        font-size: 16px;
      }
    }

    p {
      font-size: 64px;
      font-weight: 700;
      margin-bottom: 4px;

      @include pad {
        font-size: 48px;
      }

      @include phone {
        font-size: 24px;
      }
    }
  }
}

.feature {
  &-list {
    display: flex;
    justify-content: space-between;

    @include ipad {
      flex-wrap: wrap;
      row-gap: 24px;
    }

    li {
      width: calc(25% - 18px);
      color: $secondary;

      @include ipad {
        width: calc(50% - 12px);
      }

      @include phone {
        width: 100%;
      }
    }

    span {
      font-size: 84px;
      margin-bottom: 24px;
      text-align: center;
      padding: 8.33px;
      cursor: default;
    }

    h3 {
      text-align: center;
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      color: #000;
      text-align-last: left;
    }
  }
}

.series {
  .container {
    @include ipad {
      max-width: 50%;
    }

    @include phone {
      max-width: 605px;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;

    @include ipad {
      flex-wrap: wrap;
      row-gap: 24px;
    }

    li {
      width: calc((100% - 48px) / 3);

      @include ipad {
        width: 100%;
      }
    }

    img {
      max-width: 100%;
      margin-bottom: 8px;
    }

    h3 {
      text-transform: uppercase;
      color: $primary;
      font-size: 48px;
      font-weight: 900;
      font-family: "Roboto", serif;
      font-style: italic;

      @include pad {
        font-size: 32px;
      }

      @include phone {
        font-size: 48px;
      }
    }
  }
}

.co-branding {
  background-image: url("./images/index-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include ipad {
    background-image: url("./images/index-bg-sm.png");
    background-position: center top;
  }

  @include phone {
    background-image: url("./images/index-bg-md.png");
  }

  .co-branding-list {
    display: flex;
    justify-content: space-between;

    @include ipad {
      flex-wrap: wrap;
      row-gap: 24px;
    }

    [class|="brand"] {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 240px;
    }

    .brand-f {
      background-image: url("./images/home-section4-1.png");

      @include phone {
        background-image: url("./images/home-section4-1-sm.png");
      }
    }

    .brand-s {
      background-image: url("./images/home-section4-2.png");

      @include phone {
        background-image: url("./images/home-section4-2-sm.png");
      }
    }
  }

  li {
    width: 50%;
    border: 0.5px solid $darken-gray;

    @include ipad {
      width: 100%;
    }
  }

  li:last-of-type {
    border-left: 0;
  }

  img {
    width: 100%;
  }

  h3 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    font-family: "Roboto", serif;
    font-style: italic;
    padding: 8px 0;
    color: $primary;
    background-color: #fff;
  }
}

.recommend {
  &-list {
    display: flex;
    justify-content: space-between;

    @include ipad {
      flex-wrap: wrap;
      row-gap: 24px;
    }
  }

  li {
    width: calc(25% - 18px);
    border-radius: 4px;
    box-shadow: 0 2px 6px $lighten-gray;

    @include ipad {
      width: calc(50% - 12px);
    }

    @include phone {
      width: 100%;
    }
  }

  img {
    width: 100%;
  }

  .content {
    padding: 16px;


    h4 {
      font-weight: 500;
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 72px;
    }

    small {
      font-size: 14px;
      color: $darken-gray;
    }
  }
}

.contact {
  .container {
    max-width: 660px;

    @include ipad {
      max-width: 648px;
    }

    @include phone {
      max-width: 378px;
    }
  }

  p {
    margin-bottom: 24px;
  }

  form {
    display: flex;
    flex-direction: column;

    > label {
      margin-bottom: 8px;
    }

    > input,
    > textarea {
      font-size: 16px;
      margin-bottom: 16px;
      border: 1px solid #000;
      padding: 6px 12px;
    }

    input[type="checkbox"] {
      margin-right: 4px;
      accent-color: $primary;
    }

    .policy {
      margin-bottom: 48px;
    }

    .btn {
      align-self: center;

      @include phone {
        align-self: stretch;
      }
    }
  }
}